
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    Model.EF.User acc = (Model.EF.User)Session[ShopOnline.Common.CommonConstants.USER_SESSION];
    string username = "";
    if (Request.Cookies[ShopOnline.Common.CommonConstants.USER_SESSION] != null)
    {
        username = Request.Cookies[ShopOnline.Common.CommonConstants.USER_SESSION].Value;

    }
}
<h2 class="text-center"><font color="#FF000">CHANGE PASSWORD</font></h2>
<hr />
@using (Html.BeginForm("Changepassword", "User", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

    <div class="container" align="center">
        <span style="color:red">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</span>
        <div class="row">
            <div class="col-md-6">
                <input type="text"
                       id="userName"
                       name="userName"
                       value="@acc.UserName"
                       class="form-control" readonly />
            </div>


            <div class="col-md-6">
                <input type="password"
                       id="pass"
                       name="pass"
                       class="form-control" placeholder="Password" maxlength="32" required />
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="password"
                       id="newpass"
                       name="newpass"
                       class="form-control" placeholder="New Password" maxlength="32" required onkeyup="check()" />
            </div>

            <div class="col-md-6">
                <input type="password"
                       id="repass"
                       name="repass"
                       class="form-control" placeholder="Re-Enter Password" maxlength="32" required onkeyup="check()" />
                <span id="message"></span>
            </div>

        </div>

        <input type="submit" value="Save Now" title="Save" class="btn btn-primary" onsubmit="return confirm('Are you sure you wish to Change Password ?')" />



    </div>
}


<script>
	var check = function () {
		if (document.getElementById('newpass').value == document.getElementById('repass').value) {
			document.getElementById('message').style.color = 'green';
			document.getElementById('message').innerHTML = 'Matching';
			return true;
		} else {
			document.getElementById('message').style.color = 'red';
			document.getElementById('message').innerHTML = 'Not matching';
			return false;
		}
	}
</script>


