@using ShopOnline.Areas.Admin.Models
@model IEnumerable<ReportInfo>
@{
    ViewBag.Title = "byProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsRevenue1{
    <script>
        $(document).ready(function () {
            $('#table_id1').DataTable({
                dom: 'Bfrtip',
                buttons: [
                'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}
@section jsFooter1{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Loai', 'Doanh so'],
              @foreach (var r in Model)
          {
              <text>["@r.Group", @r.Count],</text>
          }
            ]);

            var options = {
                title: 'Thống kê số lượng sản phẩm còn lại',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }
    </script>

}
<h2>Revenue</h2>
<table class="table table-bordered" id="table_id1">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var r in Model)
        {
            <tr>

                <td>@r.Group</td>
                <td>@r.Count</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<div id="piechart_3d" style="width: 900px; height: 500px;"></div>

